USE [master]
GO
/****** Object:  Database [QL_Sach]    Script Date: 13/12/2023 10:11:39 PM ******/
CREATE DATABASE [QL_Sach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_Sach', FILENAME = N'D:\Cài SQL 2023\MSSQL16.SQLEXPRESS\MSSQL\DATA\QL_Sach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_Sach_log', FILENAME = N'D:\Cài SQL 2023\MSSQL16.SQLEXPRESS\MSSQL\DATA\QL_Sach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_Sach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_Sach]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 13/12/2023 10:11:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[Masach] [nvarchar](50) NOT NULL,
	[Tensach] [nvarchar](50) NULL,
	[NhaXB] [nvarchar](50) NULL,
	[NamXB] [int] NULL,
	[Tacgia] [nvarchar](50) NULL,
	[Dongia] [decimal](18, 0) NULL,
	[Hinhanh] [text] NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[Masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
